.blur-background {
    width: 100%;
    min-width: 17rem;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(26, 26, 26, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .sign-up-form,
    .log-in-form {
        box-sizing: border-box;
        width: 30rem;
        min-width: 10rem;
        // min-height: 33rem;
        height: max-content;
        margin: 1rem;
        padding: 2rem 1.3rem;
        border-radius: 0.3rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        transition: 0.3s;
        transform: scale(1.3);

        .top-section {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.8rem;

            .heading {
                margin: 0;
                color: rgb(75, 75, 75);
            }

            .cross-btn {
                font-size: 1.3rem;
                color: rgb(75, 75, 75);
                cursor: pointer;
            }
        }

        .full-name,
        .email,
        .password {
            width: 100%;
            display: flex;
            flex-direction: column;

            .input-container {
                width: 100%;
                height: 3.5rem;
                box-sizing: border-box;
                border: 0.1rem solid rgba(167, 167, 167, 0.514);
                border-radius: 0.5rem;
                position: relative;
                display: flex;
                align-items: center;
                transition: 0.3s;

                input {
                    padding: 0 0 0 1rem;
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                    border-radius: inherit;
                    font-size: 1.5rem;
                    color: rgb(62, 62, 62);
                }

                label {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    color: rgba(24, 24, 24, 0.516);
                    background-color: white;
                    font-size: 1.2rem;
                    transition: 0.3s;
                }

                .label-style {
                    top: -0.5rem;
                    font-size: 0.9rem;
                }

                .green {
                    color: rgb(0, 153, 153);
                }

                .red {
                    color: rgb(255, 98, 113);
                }

                .cross {
                    height: 100%;
                    width: 2rem;
                    font-size: 1.2rem;
                    color: rgba(24, 24, 24, 0.516);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    border-radius: inherit;
                    cursor: pointer;
                }

                .eye {
                    height: 100%;
                    width: 2rem;
                    font-size: 1.2rem;
                    color: rgba(24, 24, 24, 0.516);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    border-radius: inherit;
                    cursor: pointer;
                }
            }

            .green {
                border-color: rgb(0, 153, 153);
                color: rgb(0, 153, 153);
            }

            .red {
                border-color: rgb(255, 98, 113);
                color: rgb(255, 98, 113);
            }

            .wrong-message {
                margin: 0.2rem 0 0 0.5rem;
                color: rgb(255, 98, 113);
                font-size: 0.9rem;
                min-height: 1rem;
            }
        }

        .terms-conditions {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;

            input {
                appearance: none;
                cursor: pointer;
                outline: 0px;
                border-radius: 4px;
                min-width: 18px;
                min-height: 18px;
                background: rgb(255, 255, 255);
                border: 2px solid rgb(156, 156, 156);
                position: relative;
            }

            input:hover {
                border-color: rgb(255, 98, 113);
            }

            input:checked {
                border-color: rgb(255, 98, 113);
            }

            input:checked::after {
                position: absolute;
                top: 0.07rem;
                left: 0.25rem;
                width: 0.2rem;
                height: 0.6rem;
                content: "";
                border-right: 0.125rem solid rgb(237, 90, 107);
                border-bottom: 0.125rem solid rgb(237, 90, 107);
                transform: rotate(48deg);
            }

            .terms {
                color: rgb(105, 105, 105);

                a {
                    text-decoration: none;
                    color: rgb(255, 98, 113);
                }
            }
        }

        .submit-btn {
            width: 100%;
            height: 3rem;
            border: none;
            border-radius: 0.5rem;
            outline: none;
            font-size: 1.1rem;
            color: white;
            background-color: rgb(239, 79, 95);
            cursor: pointer;
            transition: 0.3s;
        }

        .submit-btn:hover {
            background-color: rgb(223, 72, 87);
        }

        .submit-btn:disabled {
            color: white;
            background-color: rgb(156, 156, 156);
            cursor: not-allowed;
        }

        hr {
            width: 100%;
            border: none;
            border-bottom: 1px solid rgb(232, 232, 232);
            margin: 0;
        }

        .alternate {
            width: 100%;
            color: rgb(105, 105, 105);

            .text-link {
                color: rgb(255, 87, 104);
                cursor: pointer;
            }
        }

        .disclaimer {
            width: 100%;
            color: rgb(255, 87, 104);
        }

        .success-message {
            padding: 1rem;
            border-radius: 0.3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
            text-align: center;

            .check {
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                border: 0.3rem solid rgba(0, 255, 0, 0.112);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 4rem;
                overflow: hidden;
                position: relative;
                color: rgb(0 170 0 / 83%);

                .moving-element {
                    height: inherit;
                    width: inherit;
                    background-color: white;
                    position: absolute;
                    animation: mymove 1.2s infinite;
                    animation-timing-function: linear;
                }

                @keyframes mymove {
                    from {
                        left: 0;
                    }

                    to {
                        left: 5rem;
                    }
                }

            }

            .heading {
                color: rgb(89, 89, 89);
                margin: 0;
            }

            .text {
                margin: 0;
                color: rgb(89, 89, 89);
            }

            .buttons {
                display: flex;
                gap: 1rem;

                button {
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    color: #fff;
                    cursor: pointer;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0.4rem 0.6rem;
                    text-transform: uppercase;
                }

                .login,
                .ok {
                    background-color: rgb(78, 101, 255);
                }

                .cancel {
                    background-color: rgb(239, 79, 95);
                }

                .login:hover,
                .ok:hover {
                    background-color: rgb(71, 92, 231);
                }

                .cancel:hover {
                    background-color: rgb(223, 72, 87);
                }
            }
        }
    }

    .sign-up-failed,
    .log-in-failed {
        box-sizing: border-box;
        width: 30rem;
        min-width: 10rem;
        height: max-content;
        margin: 1rem;
        padding: 2rem 1.3rem;
        border-radius: 0.3rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        transition: 0.3s;

        .top-section {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.8rem;

            .heading {
                margin: 0;
                color: rgb(75, 75, 75);
            }

            .cross-btn {
                font-size: 1.3rem;
                color: rgb(75, 75, 75);
                cursor: pointer;
            }
        }

        .message {
            color: rgb(105, 105, 105);
        }

        button {
            width: 100%;
            height: 3rem;
            border: none;
            border-radius: 0.5rem;
            outline: none;
            font-size: 1.1rem;
            color: white;
            cursor: pointer;
            transition: 0.3s;
        }

        .try-again {
            background-color: rgb(239, 79, 95);
        }

        .try-again:hover {
            background-color: rgb(223, 72, 87);
        }

        .skip {
            height: 2rem;
            font-size: 1rem;
            background-color: white;
            color: rgb(223, 72, 87);
        }
    }
}