.model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(59, 59, 59, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

    .message {
        height: 16rem;
        width: 26rem;
        padding: 1rem;
        border-radius: 0.3rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap: 1rem;

        .check {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            border: 0.3rem solid rgba(0, 255, 0, 0.112);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            overflow: hidden;
            position: relative;
            color: rgb(0 170 0 / 83%);

            .moving-element {
                height: inherit;
                width: inherit;
                background-color: white;
                position: absolute;
                animation: mymove 1.2s infinite;
                animation-timing-function: linear;
            }

            @keyframes mymove {
                from {
                    left: 0;
                }

                to {
                    left: 5rem;
                }
            }

        }

        .heading {
            color: rgb(67, 67, 67);
        }

        .go-to-home {
            border: none;
            outline: none;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            padding: 0.4rem 0.6rem;
            text-transform: uppercase;
            background-color: rgb(78, 101, 255);
        }

        .go-to-home:hover {
            background-color: rgb(71, 92, 231);
        }
    }
}

@media screen and (max-width:480px) {
    .model {
        .message {
            height: 8rem;
            width: 13rem;
            transition: 1s;

            .check {
                height: 3rem;
                width: 3rem;
                font-size: 2rem;
                border: 0.1rem solid rgba(0, 255, 0, 0.112);
                transition: 1s;
            }

            .heading {
                font-size: 1rem;
                transition: 1s;
            }

            .go-to-home {
                font-size: 0.5rem;
                transition: 1s;
            }
        }
    }
}