.orderType-container {
    width: 100%;
    max-width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0.5px 0px rgb(232, 232, 232);
    margin-bottom: 1px;
    /* background-color: green; */
}

.orderType-container ::-webkit-scrollbar {
    display: none;
}

.orderType-container .orderType {
    width: 100%;
    max-width: 68.8rem;
    height: max-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: auto hidden;
    margin: 0 1rem;
    /* background-color: rgb(106, 106, 106); */
}


.orderType .options-container {
    cursor: pointer;
}

.options-container .options {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 0.7rem;
}

.options-container .options .img-div {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container .options .option-image {
    width: 1.8rem;
    height: 1.8rem;
}

.options-container .options .option-title {
    font-size: 21px;
    font-weight: 500;
    white-space: nowrap;
    color: rgb(105, 105, 105);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.options-container .option-urderline {
    width: 100%;
    height: 0.1rem;
    border-color: transparent;
    border-radius: 0.7rem;
    align-self: center;
    background-color: rgb(255, 126, 139);
    transform: scaleX(0);
    margin: 0.8rem 0px 0.1rem 0;
    will-change: transform;
    transition: transform 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
}

@media screen and (max-width: 480px) {
    .options-container .option-urderline {
        display: none;
    }
}