.cart-item {
    width: 100%;
    min-height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px hsla(0, 0%, 63%, .788);
    font-size: 1.2rem;
    padding: 0.4rem 1.3rem;
    overflow: hidden;
    box-sizing: border-box;

    .image-name {
        width: 70%;
        display: flex;
        align-items: center;
        column-gap: 2rem;
        row-gap: 0.5rem;

        .cart-item-image {
            width: 5rem;
            height: 5rem;
            min-width: 5rem;
            border-radius: 0.3rem;
            overflow: hidden;

            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                border-radius: inherit;
            }
        }

        .cart-item-name {
            width: 100%;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            // overflow: hidden;
            font-weight: 700;
            color: rgb(82 82 82);
        }
    }

    .buttons-price {
        display: flex;
        align-items: center;
        row-gap: 0.5rem;
        column-gap: 2rem;

        .cart-item-buttons {
            min-width: 5rem;
            height: 1.5rem;
            border: 1px solid #d4d5d9;
            padding: 0.3rem 0.5rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .minus-button {
                background-color: white;
                outline: none;
                border: none;
                cursor: pointer;
                font-size: 1.4rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .plus-button {
                outline: none;
                border: none;
                background-color: white;
                cursor: pointer;
                font-size: 1.2rem;
                color: #60b246;
            }

            .count {
                font-size: 1rem;
                color: #60b246;
                overflow: hidden;
            }
        }

        .cart-item-price {
            // width: 10%;
            text-align: right;
        }
    }
}

@media screen and (max-width: 680px) {
    .cart-item {
        .image-name {
            .cart-item-name {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

}

@media screen and (max-width: 480px) {
    .cart-item {
        min-height: 4.5rem;

        .image-name {
            width: 60%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .cart-item-image {
                width: 4rem;
                height: 4rem;
            }

            .cart-item-name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .buttons-price {
            flex-direction: column-reverse;

            .cart-item-buttons {
                min-width: 4rem;
                height: 1rem;
            }

            .cart-item-price {
                font-size: 1rem;
            }
        }
    }

}