.footer-container {
    width: 100%;
    max-width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    position: relative;
    z-index: 1;
}

.footer-container .footer {
    width: 100%;
    max-width: 68.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}

.footer #logo {
    min-width: 7.9rem;
    height: 1.7rem;
}

.footer .copyright {
    text-align: center;
    font-size: large;
    font-weight: 900;
    color: rgb(121, 121, 121);
}

.footer .copyright #creator {
    color: rgb(56, 56, 56);
}

.footer .social-media {
    display: flex;
    gap: 1rem;
    overflow: auto;
}

.footer .social-media::-webkit-scrollbar {
    display: none;
}

.footer .social-media a {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
}

.footer .social-media svg {
    color: white;
    font-size: 1.3rem;
}

@media screen and (max-width: 680px) {
    .footer-container .footer {
        justify-content: center;
    }
}