.restaurant-items {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .categories-section {
        width: 35%;
        margin-left: 2%;
        background-color: aquamarine;

        .category-name {}
    }

    .items-section {}
}